{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="design-wrap wrap">
            <section class="design">
                <div class="design__text">
                    <h3>Classic BLOG Design</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla
                    </p>
                </div>
            </section>
        </div>
    <section class="card wrap">

            <div class="card__block">
                <div class="card__image">
                    <img src="{% static 'img/post-image1.jpg' %}" alt>
                </div>
                <div class="card__big-text">
                    <h3><a href="#">Post Title Goes Here.</a></h3>
                    <p class="card__paragraph-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p class="card__paragraph-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <h4><span class="card__date post-date">25 February 2017</span><span class="card__posted-by">Posted By:</span><span class="card__author">Kabbo Liate</span></h4>
                </div>
            </div>

            <div class="card__post-block">
                <div class="card__post">
                    <img src=".{% static 'img/post-image9.jpg' %}" alt="post-image1">
                    <h3><a href="#">Post Title Goes Here.</a></h3>
                    <h4 class="card__post-info">
                        <span class="card__posted-by">Posted By:</span><span class="card__span-author">Kabbo Liate</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore
                        et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <h4><span class="card__date post-date">25 February 2017</span></h4>
                </div>

                <div class="card__post">
                    <img src="{% static 'img/post-image2.jpg' %}" alt="post-image1">
                    <h3><a href="#">Post Title Goes Here.</a></h3>
                    <h4 class="card__post-info">
                        <span class="card__posted-by">Posted By:</span><span class="card__span-author">Kabbo Liate</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore
                        et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <h4><span class="card__date post-date">25 February 2017</span></h4>
                </div>

                <div class="card__post">
                    <img src="{% static 'img/post-image3.jpg' %}" alt="post-image1">
                    <h3><a href="#">Post Title Goes Here.</a></h3>
                    <h4 class="card__post-info">
                        <span class="card__posted-by">Posted By:</span><span class="card__span-author">Kabbo Liate</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore
                        et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <h4><span class="card__date post-date">25 February 2017</span></h4>
                </div>

                <div class="card__post">
                    <img src="{% static 'img/post-image4.jpg' %}" alt="post-image1">
                    <h3><a href="#">Post Title Goes Here.</a></h3>
                    <h4 class="card__post-info">
                        <span class="card__posted-by">Posted By:</span><span class="card__span-author">Kabbo Liate</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore
                        et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <h4><span class="card__date post-date">25 February 2017</span></h4>
                </div>

                <div class="card__post">
                    <img src="{% static 'img/post-image5.jpg' %}" alt="post-image1">
                    <h3><a href="#">Post Title Goes Here.</a></h3>
                    <h4 class="card__post-info">
                        <span class="card__posted-by">Posted By:</span><span class="card__span-author">Kabbo Liate</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore
                        et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <h4><span class="card__date post-date">25 February 2017</span></h4>
                </div>

                <div class="card__post">
                    <img src="{% static 'img/post-image7.jpg' %}" alt="post-image1">
                    <h3><a href="#">Post Title Goes Here.</a></h3>
                    <h4 class="card__post-info">
                        <span class="card__posted-by">Posted By:</span><span class="card__span-author">Kabbo Liate</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore
                        et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <h4><span class="card__date post-date">25 February 2017</span></h4>
                </div>

                <div class="card__post">
                    <img src="{% static 'img/post-image8.jpg' %}" alt="post-image1">
                    <h3><a href="#">Post Title Goes Here.</a></h3>
                    <h4 class="card__post-info">
                        <span class="card__posted-by">Posted By:</span><span class="card__span-author">Kabbo Liate</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore
                        et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <h4><span class="card__date post-date">25 February 2017</span></h4>
                </div>

                <div class="card__post">
                    <img src=".{% static 'img/post-image8.jpg' %}" alt="post-image1">
                    <h3><a href="#">Post Title Goes Here.</a></h3>
                    <h4 class="card__post-info">
                        <span class="card__posted-by">Posted By:</span><span class="card__span-author">Kabbo Liate</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore
                        et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <h4><span class="card__date post-date">25 February 2017</span></h4>
                </div>
            </div>

            <div class="pagination">

                <div class="nav-links">
                    <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="#">2</a>
                    <a class="page-numbers" href="#">3</a>
                    <a class="page-numbers" href="#">4</a>
                    <a class="page-numbers" href="#">5</a>
                    <a class="page-numbers" href="#">&#10095</a>
                </div>
            </div>

        </section>

{% endblock %}

    <script src="https://kit.fontawesome.com/88aa2af926.js" crossorigin="anonymous"></script>




