{% load menu %}

<header class="header wrap">
    <div class="header__logo">
        <h2><a href="{% url 'home' %}">Classic</a></h2>
    </div>
    <div class="header__menu">
        {% show_menu %}
    </div>
<!--    <div class="header__menu">-->
<!--        <ul>-->
<!--            <li><a class="" href="{% url 'home' %}">Home</a></li>-->
<!--            <li><a href="#">lifestyle</a></li>-->
<!--            <li><a href="#">Food</a></li>-->
<!--            <li><a href="#">Nature</a></li>-->
<!--            <li><a href="#">photography</a></li>-->
<!--        </ul>-->
<!--    </div>-->
</header>

